
body{
    background-color: black;
}
.flex-container{
    display: flex;
   padding:40px 42px 40px 20px;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
     margin:50px 30px;
     background:#333;
     border:1px solid rgb(56, 105, 51);
     /* min-width: 540px; */
}
.form{
    min-width: 300px;
    flex: 2;
    text-align:center;
    padding:30px;
    order:2;
}

.form-input{
flex: 1;
width: 100%;
padding:6px 0px; 
margin: 6px 0px;
border:none;
outline: none;
border-bottom: 2px solid #1c7;
background-color: transparent;
color:white;

}
.form-input:focus{
    outline: none;
    border-bottom: 3px solid #5d9;
    background:linear-gradient(to bottom,transparent, #222);
}

textarea{
    min-height: 120px;
    resize: none;
}
.form-img{
    
    flex: 1;
    padding: 10px;
    display:flex
  
   
}

.form-img div{

    padding: 10px;
}
.img-container{  
    margin:auto;
}

.img-container div {
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 40px;

}
.form-img img{
    width: 95%;
    margin: auto;
    min-width: 180px;
    max-width:400px;
    order: 1;
}


.form input[ type="submit"]{
background-color: #094;
border-bottom:none;
padding:12px;
}

